/* Dashboard Container */
.dashboard-container {

    display: flex;
    height: 100vh;
    background-color: #E6E6E6;
    padding: 100px 50px;
    height: auto;
 
    
  }
  
  /* Main Content */
  .main-content {
    flex-grow: 1;
    padding: 30px;
    margin-top:60px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  }
  
  /* Offers Section */
  .offers {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
  
  }
  
  .offer-card {
    background-color: #FFFFFF;
    border: 1px solid #2E3244;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    margin-top: 50px;
    margin-bottom: 50px;
 
}
  
  .offer-card h3 {
    color: #2E3244;
    margin-bottom: 10px;
  }
  
  .offer-card p {
    color: #516079;
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .offer-card:hover {
    transform: translateY(-10px);  /* Élévation de la box */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #2E3244;
    
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Appliquer l'animation sur chaque box d'offre */
 .offer-card {
    animation: fadeIn 1s ease-out;
  }
  
  .offer-card:hover p{
    color:white
  }
  .offer-card:hover h3{
    color:white
  }